{{- define "main" }}
{{- if .IsHome }}
  {{- $orderedPages := partial "home_ordered_pages.html" . -}}
  {{- with index $orderedPages 0 }}{{ partial "home_featured.html" .page }}{{ end }}
  {{- partial "home_latest.html" $orderedPages -}}
{{- else }}
  {{- $pageTitle := .Title -}}
  {{- if eq .Type "article_type" }}{{ $pageTitle = partial "article_type_name.html" .Data.Term }}{{ end -}}
  <script type="application/ld+json">{{ dict "@context" "https://schema.org" "@type" "CollectionPage" "name" $pageTitle "url" .Permalink | jsonify | safeJS }}</script>
  <header class="page-header"><h1>{{ $pageTitle }}</h1>{{ with .Description }}<div class="post-description">{{ . | markdownify }}</div>{{ end }}</header>
  {{- with .Content }}<div class="post-content md-content">{{ . }}</div>{{ end }}
  {{- $paginator := .Paginate (union .RegularPages .Sections) }}
  <div class="media-latest-grid">
    {{- range $paginator.Pages }}{{ partial "home_archive_entry.html" . }}{{ end }}
  </div>
  {{- if gt $paginator.TotalPages 1 }}
  <footer class="page-footer"><nav class="pagination">{{ with $paginator.Prev }}<a class="prev" href="{{ .URL }}">前へ</a>{{ end }}{{ with $paginator.Next }}<a class="next" href="{{ .URL }}">次へ</a>{{ end }}</nav></footer>
  {{- end }}
{{- end }}
{{- end }}
